body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  text-align: center
}

h2.capitalize {
  text-transform: capitalize;
}

.plot {
  width: 100%
}

.navbar {
  text-align: center;
}





[class*="column"] {
  /*Mobile first: set the width to 100% by default*/
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For everything bigger than 768px */
  .columnMap {
    float: left;
    width: 60%;
  }
  .columnPlot {
    float: right;
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
